@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e9e9e9;
  font-family: Montserrat, sans-serif !important;
}

/* navbar style  */

.navbar {
  overflow: hidden;
}

/* Logo styling */
.navbar-logo {
  float: left;
  padding: 10px 15px; /* Adjust logo padding as needed */
}

.navbar-logo img {
  height: 40px; /* Adjust logo height as needed */
  width: 100px;
  margin-left: 40%;
}

/* Links styling */
.navbar-links {
  float: right;
}

.navbar-links a {
  color: white; /* Color of the links */
  text-decoration: none; /* Remove underline from links */
  padding: 15px 20px; /* Adjust link padding as needed */
  display: inline-block;
}

.navbar-links a:hover {
  background-color: #555; /* Background color of links on hover */
}

/* Active link styling */
.active {
  background-color: #ddd; /* Background color of active link */
  color: black; /* Text color of active link */
}

/* #pricing table title  */
.chart-title h1{
  font-size: 28px;
  font-weight: 700;
  margin: 20px;
}
.pricing-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  gap: 30px;
}

.pricing-title h2 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.1;
}
.pricing-paragraph p {
  font-size: 1.4rem;
  color: #fd4970;
}

.pricing-paragraph {
  text-align: center;
  margin-top: 50px;
}
.pricing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #Pricing table chart */

.pricing-chart-wraaper {
  display: grid;
  transition: all 3s ease 0s;
  justify-content: center;
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.chart-cont3_1{
  font-size: 12px;
}
.check-img{
  margin-right: 5px;
}
.pricing-chart {
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 30px 0px 40px 15px;
  border: 1px solid#fff;
  max-width: 100%;
  width: 23%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  animation: 5s ease-in-out 0s 1 normal none running all;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position:relative;
}

.pricing-chart:hover {
  border: 1px solid #fd4970;
}
.chart-btn button:hover {
  background: #fd4970;
  color: #fff;
}
.chart-cont1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chart-cont3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.chart-cont3  h4{
  font-size: larger;
  font-weight: 700;
}
.chart-cont3_2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.chart-cont3_2 ul li {
  display: flex;
  gap: 4px;
  align-items: center;
}
.tick-cont img {
  width: 15px;
}
.chart-desc h1,
.chart-pricing-cont h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 10px;
}
.chart-trial-cont{
  text-align: center;
  position: relative;
  bottom: 0px;
}

.chart-desc p,
.chart-pricing-cont p {
  font-size: 14px;
}

.chart-pricing-cont p {
  opacity: 0.6;
}

.chart-btn button {
  transition: all 0.4s ease;
  color: #fd4970;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid#FD4970;
  background: #fff;
  padding: 10px 50px;
}
.diff-btn button{
  color: #ffffff;
  background: #fd4970;
}
span.month {
  font-size: 19px;
}

.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  
  position: absolute;
  inset: var(--t) calc(-1*var(--f)) auto auto;
  padding: 0 10px var(--f) calc(10px + var(--r));
  clip-path: 
    polygon(0 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),0 calc(100% - var(--f)),
      var(--r) calc(50% - var(--f)/2));
  background: #fd4970;
  box-shadow: 0 calc(-1*var(--f)) 0 inset #0005;
  color: #fff;
  
}

.spacer-xs {
  width: 100%;
  height: 10px;
}

.paragraph-12 {
  opacity: .9;
  color: #000;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  color: #fd4970;
  text-align: center;
}

@media (max-width: 590px) {
  .pricing-title h2 {
    font-size: 2.1rem;
  }
  .pricing-paragraph p {
    font-size: 1.2rem;
    color: #fd4970;
  }
}
@media (max-width: 438px) {
  .pricing-title h2 {
    font-size: 1.7rem;
  }

  .pricing-paragraph p {
    font-size: 1rem;
    color: #fd4970;
  }
}

@media (max-width: 400px) {
  .pricing-title h2 {
    font-size: 1.3rem;
  }
}
